*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height: 100%;
    width:100%;
    background-color:white;
}
#nav{
    height: 100px;
    width:100%;
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 40px;
}
#nav-part1{
    display:flex;
gap:5px;
} 
#nav h3{
    font-size:17px;
    font-weight: 500;
    border:1.5px solid black;
    padding:3px 10px;
    border-radius: 15px ;
}
#nav i{
    font-size:20px;
    font-weight: 500;
    border:1.5px solid black;
    padding:3px 10px;
    border-radius: 15px ;
}
#nav h1{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav button{
    padding:4px 10px;
    border-radius: 50px;
    border:1.5px solid black;
    font-size: 17px;
    font-weight: 200;
    background-color: white;
}
#nav-part3 #btn2{
    background-color:orangered;
    color: white;
    border:none;
}
#main>h1{
font-size: 120px;
text-transform: uppercase;
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
width:100%;
text-align: center;
}

img{
    height: 430px;
    width:370px;
    object-fit:cover;
    object-position:top;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
#img1{
    transform:translate(-50%,-50%) rotate(-30deg)
}
#img2{
    transform:translate(-50%,-50%) rotate(-20deg)
}
#img3{
    transform:translate(-50%,-50%) rotate(-10deg)
}
#btm-left{
    position: absolute;
    bottom:5%;
    left:3%;
    font-size: 17px;
}
#main>i{
    border:2px solid black;
    padding: 40px;
    border-radius: 50%;
    position:absolute;
    left:47%;
    bottom:-8%;

}